body {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#quoteContainer {
    width: 80%;
    background-color: #ecf0f1;
    margin-top: 10%;
    margin-bottom: 10px;
    min-height: 15em;
}

blockquote {
    border: none;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

blockquote:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all .5s ease;
}

blockquote p {
    display: inline;
    font-size: 25px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

blockquote small {
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    text-align: right;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#shareTwitter {
    width: 40px;
    height: 40px;
    background-color: #909AA0;
    font-size: 17px;
    padding: 10px;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    -o-border-radius: 10%;
    color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#newQuote {
    border: 0;
    height: 40px;
    float: right;
    display: inline;
    color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

footer p, footer p a, footer p a:hover {
    color: white;
}

.clearfix {
    clear: both;
}